name: Test Runner

on:
  push:
    branches: [ main ]

jobs:
  test-job:
    runs-on: self-hosted    # IMPORTANT: uses your Ubuntu runner

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Say Hello
        run: echo "Self-hosted Runner is working!"
